<h1>Welcome to Anagramamatic!</h1>
<form action="/anagram">
  <div class="form-group">
    <label for="anagram">Enter the first word you'd like to check to see if it's an anagram!:</label>
    <input id="anagram" name="anagram" class="form-control" type="text">
    <label for="anagram1">Enter the second word you'd like to check to see if it's an anagram!:</label>
    <input id="anagram1" name="anagram1" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Anagramatic go!</button>
</form>
